%h1 Simple bus

Simple bus is the transport mechanism used in all applications.
The mobile applications use it for retrieving and posting data to the online 54hrs enabled apps.

It's main responisbilities are.

%h2 Two types of busses

There are two types of bussed, the sync and the async bus

%h1 Creating a handler

Creating a handler for the bus

%h2 Busses

Hello world

%h3 Request bus, simple request bus for 

%h3 Hello