%h1 Documenation

%h2 Concepts
%ul
	%li Code should be self-describing
	%li Concepts should be explained using .md files and %haml files
	%li Feature files should be used to describe fuctionality

%h2 Server code!! YEAH

%h2 Self documenting code
%p
	Code should be marked up using normal documenation standards, please use TomDoc notation for code.

%h2 Concept documentation	
%p 
	Concept documentation shold be added in the 'docs' folder.

%h2 Feature files for functionality
%p
	Feature files should desribe the functionality, add them to the 'features' folder.